@import '~bootstrap/scss/bootstrap';
@import '~resources/scss/partials/comics';
@import '~resources/scss/partials/characters';
@import '~resources/scss/partials/collectibles';
@import '~resources/scss/partials/movies';
@import '~resources/scss/partials/tv';
@import '~resources/scss/partials/videos';
@import '~resources/scss/partials/shop';
@import '~resources/scss/partials/games';
@import '~resources/scss/partials/news';

header {
    background-color: #ffffff;

    .navbar {
        max-width: 1100px;
        margin: auto;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1.25rem 0;

            .logo {
                img {
                    height: 100px;
                }
            }

            ul {
                list-style: none;
                display: flex;

                li {
                    a {
                        font-weight: 600;
                        margin: 0 1rem;
                        padding-bottom: 3.95rem;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: grey;

                        &:hover {
                            color: #0282f9;
                            border-bottom: 5px solid #0282f9;
                        }

                        &.active {
                            color: #0282f9;
                            border-bottom: 5px solid #0282f9;
                        }
                    }
                }
            }
        }
    }

    .jumbotron {
        height: 350px;

        img {
            width: 100%;
            height: 350px;
            object-fit: cover;
            object-position: top;
        }
    }
}

footer {
    .footer_top {
        color: #858585;
        max-height: 400px;
        background-image: url('../images/footer-bg.jpg');
        background-size: cover;

        h5 {
            color: #ffffff;
        }

        a {
            color: #858585;
            text-decoration: none;
            transition: 0.25s;

            &:hover {
                color: #0282f9;
            }
        }

        span {
            color: #0282f9;
        }

        .dc_logo_bg {
            background-image: url('../images/dc-logo-bg.png');
            background-size: cover;
            background-position: center;
        }
    }

    .footer_bottom {
        background-color: #1C1C1C;

        .container {
            height: 100px;
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .register {
                span {
                    display: inline-block;
                    text-transform: uppercase;
                    padding: 0.5rem 0.75rem;
                    border: 4px solid #0282f9;

                    &:hover {
                        background-color: #0282f9;
                    }
                }
            }

            .social {
                display: flex;
                align-items: center;

                span {
                    margin-right: 2rem;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                    color: #0282f9;
                }

                img {
                    padding: 0.5rem;
                }
            }
        }
    }
}